[color]
  interactive = auto
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  legacyheaders = false
  pager = cat
  quotepath = false
[credential]
  helper = osxkeychain
[push]
  default = simple
[user]
  name = John J. Workman
  useconfigonly = true # git config --local --add user.email foo@example.com
