"*":
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "autocomplete-plus"
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  linter:
    errorPanelHeight: 24
  welcome:
    showOnStartup: false
