"*":
  "autocomplete-plus":
    enableAutoActivation: false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  linter:
    showErrorTabFile: false
    showErrorTabProject: false
    showProviderName: false
    statusIconScope: "File"
  "linter-rubocop":
    command: "rubocop --config /Users/workmajj/.rubocop.yml"
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
